main {
    padding-top: 32px;
}

.package-section {
    background:  #d2ffdf;
    width: 80%;
    margin: 32px 0;
    border: 3px black solid;
    border-left: none;
}

.package-section:hover {
    border-color: #ff5454;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5)
}

.clear-float{
    clear: both;
}

#free {
    float: right;
    border-right: none;
    border-left:  3px black solid;
    text-align: right;
}

#free:hover,
#free:active {
    border-color: #ff5454;
}



.package-section__link {
    text-decoration: none;
    color: black;
    display: block;
    padding: 32px;

}


.package-section__link--anotation {
    color: #818181;
}

.package-section__link--description {
    background: white;
    padding: 16px;
    border: 1.5px black solid;
    font-size: 20px;
}

.recomended-package {
    background: #1a6631;
}

.recomended-package .package-section__link--header {
    color: white;
}

.recomended-package .package-section__link--anotation {
    color: #2e2e2e;
} 