
main {
    padding-top: 32px;
}

.background {
    background: url("./images/packages_background.jpg");
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.package-section {
    background:  #add7ffb0;
    width: 80%;
    margin: 32px 0;
    border: 3px black solid;
    border-left: none;
    position: relative;
}

.package-section:hover {
    border-color: #ff5454;
    box-shadow: 2px 2px 3px rgba(75, 60, 60, 0.5)
}

.package-section__badge {
    position: absolute;
    top: 0;
    right: 25px;
    background: #ff5454;
    padding: 10px;
    color: white;
    font-size: 12px;
    border-radius: 5px;
}

.clear-float{
    clear: both;
}

#free {
    float: right;
    border-right: none;
    border-left:  3px black solid;
    text-align: right;
}

#free:hover,
#free:active {
    border-color: #ff5454;
}



.package-section__link {
    text-decoration: none;
    color: black;
    display: block;
    padding: 32px;

}


.package-section__link--anotation {
    color: #575757;
}

.package-section__link--description {
    background: white;
    padding: 16px;
    border: 1.5px black solid;
    font-size: 20px;
}

.recomended-package {
    background: #2395ffc4;
}

.recomended-package .package-section__link--header {
    color: white;
}

.recomended-package .package-section__link--anotation {
    color: #2e2e2e;
} 