.package-section {
    background:  #d2ffdf;
    margin: 32px 64px;
    padding: 48px;
    border: 3px black solid;
}

.package-section__link {
    text-decoration: none;
    color: black;
}


.package-section__link--anotation {
    color: #818181;
}

.package-section__link--description {
    background: white;
    padding: 16px;
    border: 1.5px black solid;
}

.recomended-package {
    background:  #2ca14b;
}

.recomended-package .package-section__link--header {
    color: white;
}

.recomended-package .package-section__link--anotation {
    color: #464646;
}